/* App.css */
body {
  margin: 40px;
  padding:100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
   height: 100vh;
}

#root {
  width: 100%;
}

.app-container {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  text-align: center;
  width: 90%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .app-container {
    padding: 15px;
  }

  h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .app-container {
    padding: 10px;
  }

  h1 {
    font-size: 1.2rem;
  }
}
